<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Airwaves Config on %h</name>
  <service protocol="ipv4">
    <type>_airwaves._tcp</type>
    <subtype>_config._sub._airwaves._tcp</subtype>
    <port>81</port>
    <txt-record>path=/</txt-record>
    <txt-record>version=0.0.1</txt-record>
  </service>
</service-group>
