[Unit]
Description=Airwaves OS first run
Wants=network-online.target
After=network.target network-online.target
ConditionPathExists=/opt/airwaves/.needs-first-run

[Service]
Type=idle
RemainAfterExit=yes
ExecStart=/opt/airwaves/scripts/first-run
TimeoutStartSec=2min

[Install]
WantedBy=multi-user.target
