[Unit]
Description=AROS first run
Wants=network-online.target
After=network.target network-online.target
ConditionPathExists=/opt/aros/.needs-first-run

[Service]
Type=idle
RemainAfterExit=yes
ExecStart=/opt/aros/scripts/first-run
TimeoutStartSec=2min

[Install]
WantedBy=multi-user.target
