# AROS
HOSTNAME="airframes"
AROS_CONFIG="/etc/aros/config.json"
CONTAINER_AROS_FEEDER_WEB="0.0.1"
CONTAINER_AROS_HFDL_DUMPHFDL="0.0.1"
CONTAINER_AROS_VDL_DUMPVDL2="0.0.1"
CONTAINER_AROS_SATCOM_AOA="0.0.1"
CONTAINER_AROS_SATCOM_AOI="0.0.1"

# Third-party
CONTAINER_PORTAINER="2.9.3"
CONTAINER_SDR_ENTHUSIASTS_ACARSHUB="3.0.7"
CONTAINER_KX1T_PLANEFENCE="latest"
