# AROS
HOSTNAME="airframes"
AROS_CONFIG="/etc/aros/config.json"
CONTAINER_AROS_FEEDER_WEB="latest"
CONTAINER_AROS_HFDL_DUMPHFDL="latest"
CONTAINER_AROS_VDL_DUMPVDL2="latest"
CONTAINER_AROS_SATCOM_AOA="latest"
CONTAINER_AROS_SATCOM_AOI="latest"

# Third-party
CONTAINER_PORTAINER="2.9.3"
CONTAINER_SDR_ENTHUSIASTS_ACARSHUB="3.0.7"
CONTAINER_KX1T_PLANEFENCE="latest"
