# Airwaves OS
HOSTNAME="airwaves"
AIRWAVES_CONFIG="/etc/airwaves/config.json"
CONTAINER_AIRWAVES_FEEDER_WEB="latest"
CONTAINER_AIRWAVES_HFDL_DUMPHFDL="latest"
CONTAINER_AIRWAVES_VDL_DUMPVDL2="latest"
CONTAINER_AIRWAVES_SATCOM_AOA="latest"
CONTAINER_AIRWAVES_SATCOM_AOI="latest"

# Third-party
CONTAINER_PORTAINER="2.9.3"
CONTAINER_SDR_ENTHUSIASTS_ACARSHUB="3.0.7"
CONTAINER_KX1T_PLANEFENCE="latest"
